<h2 mat-dialog-title>Додади тренинг</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="addTraingingForm">
        <mat-form-field appearance="outline" class="full-width-input mt-1">
            <mat-label>Опис за тренингот</mat-label>
            <input matInput formControlName="trainingTitle" required placeholder="Спаринг сесија за црни појаси">

            @if(addTraingingForm.get('trainingTitle')?.hasError('required') &&
            addTraingingForm.get('trainingTitle')?.touched)
            {
            <mat-error>Описот е задолжителен</mat-error>


            }


        </mat-form-field>
        @if (trainingMembers() != null && trainingMembers()!=[]) {

        <mat-form-field appearance="outline" class="full-width-input mt-2">
            <mat-label>Членови</mat-label>
            <mat-select [(value)]="selectedMembers" multiple formControlName="trainingMembersCtrl" #membersSelect
                [compareWith]="compareMembers">
                <!-- <mat-option (onSelectionChange)="onSelectedItemsChange('All')" id="testALL"
                    [value]="{id:'All'}">Сите</mat-option> -->
                <mat-optgroup *ngFor="let group of trainingMembers()" [label]="beltMkNames[group.beltId] +' појас'">
                    @for( member of group.members; track member.id){
                    <!-- <mat-option (onSelectionChange)="onSelectedItemsChange(member.id)" 
                    [value]="member">
                        {{member.fullName}}
                    </mat-option> -->

                    <mat-option [value]="member">
                        {{member.fullName}}
                    </mat-option>


                    }
                </mat-optgroup>
                <!-- <mat-option *ngFor="let member of trainingMembers()" [value]="member.key">{{member.value}}</mat-option>  -->
            </mat-select>
            @if(addTraingingForm.get('trainingMembersCtrl')?.hasError('required') &&
            addTraingingForm.get('trainingMembersCtrl')?.touched)
            {
            <mat-error>Изборот на членови е задолжителен</mat-error>

            }
        </mat-form-field>
        }@else {
        <p>Нема врендност</p>
        }



        <mat-form-field appearance="outline" class="full-width-input mt-2">
            <mat-label>Тип на тренинг</mat-label>
            <mat-select formControlName="trainingType">
                <mat-option *ngFor="let type of trainingTypes()" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
            @if(addTraingingForm.get('trainingType')?.hasError('required') &&
            addTraingingForm.get('trainingType')?.touched)
            {
            <mat-error>Типот на тренингот е
                задолжителен</mat-error>

            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width-input mt-2">
            <mat-label>Статус на тренинг</mat-label>
            <mat-select formControlName="trainingStatusCtrl">
                <mat-option [value]="1">Активен</mat-option>
                <mat-option [value]="2">Завршен</mat-option>
                <mat-option [value]="3">Откажан</mat-option>
            </mat-select>
            @if(addTraingingForm.get('trainingStatusCtrl')?.hasError('required') &&
            addTraingingForm.get('trainingStatusCtrl')?.touched)
            {
            <mat-error>Типот на тренингот е
                задолжителен</mat-error>

            }
        </mat-form-field>




        <mat-form-field appearance="outline" class="full-width-input mt-2">
            <mat-label>Датум на тренинг</mat-label>
            <input formControlName="trainingDateCtrl" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            @if(addTraingingForm.get('trainingDateCtrl')?.hasError('required') &&
            addTraingingForm.get('trainingDateCtrl')?.touched)
            {
            <mat-error>Описот е задолжителен</mat-error>


            }
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width-input mt-2">
            <mat-label>Notes (Optional)</mat-label>
            <textarea matInput formControlName="trainingNotes" rows="3"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="addTraingingForm.invalid">Save</button>
</mat-dialog-actions>