<div class="d-flex">
    <div class="member-profile-container container-fluid">
        <div class="row main-row row-height">

            <div class="col-md-3 profile-col">
                <div class="profile-card h-100 text-white">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="profile-container">
                            <div class="profile-img-container">
                                @if (member()?.profilePicture!=null) {

                                <img [src]="member()?.profilePicture?.url" alt="Profile" class="profile-img">

                                }
                                @else{
                                <img class="profile-img" src="assets/images/profilePlaceholder.jpg" alt="Placeholder">
                                }
                            </div>
                            <div class="profile-details ">
                                <h3 class="profile-name ">{{member()?.firstName}} {{member()?.lastName}}</h3>
                            </div>
                        </div>
                        <div class="user-details text-start w-100 px-4">
                            @if(member() != null){

                            <p class="mb-2 user-detail-text mt-3">
                                <mat-icon class="me-2 pt-1">email</mat-icon>
                                {{ member()?.email }}
                            </p>

                            <p class="mb-2 user-detail-text">
                                <mat-icon class="me-2">calendar_month</mat-icon>
                                {{ member()?.startedOn | date }}
                            </p>
                            <p class="mb-2 user-detail-text mt-2">
                                <mat-icon class="me-2">cake</mat-icon>
                                {{ member()?.age }}
                            </p>

                            <p class="mb-0 user-detail-text">
                                <mat-icon class="me-2">accessibility</mat-icon>
                                {{member()?.height}}cm {{ member()?.weight }}kg
                            </p>

                            <p class="mb-0 user-detail-text">
                                <mat-icon class="me-2">military_tech</mat-icon>
                                {{ member()?.currentBelt?.name ?? 'N/A' }}
                            </p>

                            <div class="mt-5 d-flex w-100">
                                <button mat-button [routerLink]="[`/edit-member/${member()!.id}`]"
                                    routerLinkActive="router-link-active" class="profle-btn w-100 p- mr-3">Промени
                                    податоци</button>
                            </div>

                            <div class="mt-4 d-flex w-100">
                                <button mat-button class="profle-btn w-100  ">Плати членарина</button>
                            </div>


                            }@else {
                            <div class="d-flex mt-5 justify-content-center">
                                <mat-spinner></mat-spinner>

                            </div>
                            }

                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-9 charts-table-col">
                @if(member()){
                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="Присуство и перформанси">

                    </mat-tab>
                    <mat-tab label="Членарина">

                    </mat-tab>
                    <mat-tab label="Полагања и белешки">
                    </mat-tab>
                </mat-tab-group>
                <router-outlet></router-outlet>
                }@else {
                <div class="d-flex align-items-center h-100 justify-content-center">
                    <mat-spinner></mat-spinner>

                </div>
                }


            </div>
        </div>
    </div>
</div>