<div class="d-flex">
    <div class="member-profile-container container-fluid">
        <div class="row main-row row-height">

            <div class="col-md-3 profile-col">
                <div class="profile-card h-100 text-white">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="profile-container">
                            <div class="profile-img-container">
                                <img src="https://sportsmatik.com/uploads/users-media/profile-pic/img-20200729-221005-185_1634550787.jpg"
                                    alt="Profile" class="profile-img">
                            </div>
                            <div class="profile-details ">
                                <h3 class="profile-name ">John Doe</h3>
                            </div>
                        </div>
                        <div class="user-details text-start w-100 px-4">
                            <p class="mb-2 user-detail-text">
                                {{ userName }}
                            </p>
                            <p class="mb-2 user-detail-text">
                                {{ userAge }}
                            </p>
                            <p class="mb-2 user-detail-text">
                                {{ userEmail }}
                            </p>
                            <p class="mb-2 user-detail-text">
                                {{ joinDate }}
                            </p>
                            <p class="mb-0 user-detail-text">
                                {{ userBelt }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-9 charts-table-col">
                <mat-tab-group>
                    <mat-tab label="Присуство и перформанси">
                        <div class="card charts-card pt-3 h-100">
                            <div class="card-body">


                                <div class="row charts-row pt-3  mb-4 justify-content-center pb-4">
                                    <div class="col-lg-6 col-md-6 col-12 mb-3">
                                        <div class="table-title">
                                            <div class="row">
                                                <div class="col-sm-12 text-center">
                                                    <h2>Присутсво по месеци</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chart-item">

                                            <ngx-charts-bar-vertical [scheme]="barChartColorScheme"
                                                [results]="barChartData" [gradient]="gradient" [xAxis]="showXAxis"
                                                [yAxis]="showYAxis" [legend]="showLegend"
                                                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                                                [barPadding]="barChart1Options.barPadding"
                                                [roundDomains]="barChart1Options.roundDomains"
                                                [legendPosition]="commonChartOptions.legendPosition"
                                                (select)="onSelect($event)">
                                            </ngx-charts-bar-vertical>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12 mb-3 pb-5 ">

                                        <div class="table-title">
                                            <div class="row">
                                                <div class="col-sm-12 text-center">
                                                    <h2>Проценти на присутност/отсутност</h2>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="chart-item pie-chart-container">
                                            <ngx-charts-pie-chart [scheme]="pieChartColorScheme"
                                                [results]="pieChartData" [gradient]="gradient" [legend]="showLegend"
                                                [labels]="pieChartOptions.labels" [doughnut]="pieChartOptions.doughnut"
                                                [arcWidth]="pieChartOptions.arcWidth"
                                                [legendPosition]="commonChartOptions.legendPosition"
                                                [tooltipText]="pieChartOptions.labelFormatting"
                                                (select)="onSelect($event)">
                                            </ngx-charts-pie-chart>
                                        </div>
                                    </div>

                                    <div class="col-12 pt-5">
                                        <div class="table-title">
                                            <div class="row">
                                                <div class="col-sm-12 text-center">
                                                    <h2>Перформанси по тренинг</h2>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <div class="chart-item">
                                                <ngx-charts-line-chart [scheme]="lineChartColorScheme"
                                                    [results]="lineChartData" [gradient]="gradient" [xAxis]="showXAxis"
                                                    [yAxis]="showYAxis" [legend]="showLegend"
                                                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                                    [xAxisLabel]="lineXAxisLabel" [yAxisLabel]="lineYAxisLabel"
                                                    [autoScale]="autoScale" [timeline]="timeline"
                                                    [legendPosition]="commonChartOptions.legendPosition"
                                                    (select)="onSelect($event)">
                                                </ngx-charts-line-chart>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row justify-content-center1">
                                    <div class="d-flex justify-content-center1">
                                        <div class="table-responsive w-100">
                                            <div class="table-wrapper">
                                                <div class="table-title">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h2>Обавени тренинзи</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Date</th>
                                                            <th>Type</th>
                                                            <th>Duration</th>
                                                            <th>Performance</th>
                                                            <th>Notes</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let row of dataSource; let i = index">
                                                            <td>{{ i + 1 }}</td>
                                                            <td>{{ row.col1 }}</td>
                                                            <td>{{ row.col2 }}</td>
                                                            <td>{{ row.col3 }}</td>
                                                            <td>
                                                                <span class="status" [ngClass]="{
                                                                    'text-success': 'good' === 'good',
                                                                    
                                                                }">
                                                                    &bull;
                                                                </span>
                                                                {{ 5 }}
                                                            </td>
                                                            <td>{{ 'Note 1' }}</td>
                                                            <td>
                                                                <a href="#" class="settings" title="Edit"
                                                                    data-toggle="tooltip">
                                                                    <i class="material-icons">&#xE8B8;</i>
                                                                </a>
                                                                <a href="#" class="delete" title="Delete"
                                                                    data-toggle="tooltip">
                                                                    <i class="material-icons">&#xE5C9;</i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="dataSource && dataSource.length === 0">
                                                            <td colspan="7" class="text-center">Нема податоци за обавени
                                                                тренинзи
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="clearfix">
                                                    <div class="hint-text">
                                                        Showing <b>{{ dataSource ? dataSource.length : 0}}</b> entries
                                                    </div>
                                                    <ul class="pagination">
                                                        <li class="page-item disabled"><a href="#">Previous</a></li>
                                                        <li class="page-item active"><a href="#" class="page-link">1</a>
                                                        </li>
                                                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                                                        <li class="page-item"><a href="#" class="page-link">Next</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Членарина"> </mat-tab>
                    <mat-tab label="Останато"> </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>