<div class="register-form-wrapper">
    <h3 class="mb-5 section-text">Регистрирај нов член</h3>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Име</mat-label>
                <input matInput formControlName="firstName" maxlength="50" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Презиме</mat-label>
                <input matInput formControlName="lastName" maxlength="50" required />
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Емаил</mat-label>
                <input matInput type="email" formControlName="email" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Лозинка</mat-label>
                <input matInput type="password" formControlName="password" required />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Висина</mat-label>
                <input matInput type="number" min="0" max="250" formControlName="height" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Тежина</mat-label>
                <input matInput type="text" formControlName="weight" required />
            </mat-form-field>



        </div>


        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Датум на раѓање</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>



            </mat-form-field>

            <mat-form-field>
                 <mat-label>Појас</mat-label>
                            <mat-select formControlName="belt" [(ngModel)]="selectedBelt">
                                @for (belt of clubBelts(); track belt.id) {
                                   <mat-option [value]="belt">{{belt.name}}</mat-option> 
                                }
                             

                            </mat-select>
            </mat-form-field>

            <mat-form-field>
                 <mat-label>Улога</mat-label>
                            <mat-select formControlName="role" [(ngModel)]="selectedRole">
                                <mat-option value="1">Член</mat-option>
                                <mat-option value="2">Тренер</mat-option>
                             

                            </mat-select>
            </mat-form-field>

            <div class="w-100 d-flex justify-content-end">
                <button mat-raised-button color="primary" (click)="onSubmit()" class="submit-btn" type="button"
                    [disabled]="registerForm.invalid">
                    Register Member
                </button>

            </div>


            <!-- <div class="upload-field"> 
                <label>Profile Picture</label>
                <div class="file-upload">
                    <button mat-raised-button color="accent" (click)="fileInput.click()">
                        Choose File
                    </button>
                    <input type="file" #fileInput hidden (change)="onFileSelected($event)" />

                    <div class="file-info" *ngIf="selectedFile">
                        <mat-icon class="primary-icon" color="primary">check_circle</mat-icon>
                        <span>{{ selectedFile.name }}</span>
                    </div>

                    <div class="file-info no-file" *ngIf="!selectedFile">
                        <mat-icon color="warn">info</mat-icon>
                        <span>No file chosen</span>
                    </div>
                </div>
            </div> -->

        </div>
        


    </form>
</div>