<div class="row">
    <div class="col-12">
        <mat-accordion>
            <mat-expansion-panel class="mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>Филтри</mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Пребарај по име или емаил</mat-label>
                            <input matInput placeholder="Внеси име или емаил..." [(ngModel)]="searchTerm"
                                (ngModelChange)="applyFilters()" />
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Појас</mat-label>
                            <mat-select [(ngModel)]="selectedBelt" (selectionChange)="applyFilters()">
                                <mat-option value="">Сите</mat-option>
                                <mat-option *ngFor="let belt of uniqueBelts" [value]="belt">{{ belt }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex align-items-center">
                        <button mat-button color="primary" (click)="resetFilters()">Ресетирај филтри</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="table-responsive w-100">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Club <b>Members</b></h2>
                    </div>
                    <div class="col-sm-7 text-end">
                        <a href="#" class="btn btn-secondary">
                            <i class="material-icons">&#xE147;</i> <span>Додади нов член</span>
                        </a>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Име</th>
                        <th>Зачленат на</th>
                        <th>Емаил</th>
                        <th>Години</th>
                        <th>Тренер</th>
                        <th>Статус</th>
                        <th>Појаси</th>
                        <th>Акции</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of filteredMembers; let i = index" routerLink="/members/{{member.id}}">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <a>
                                <img [src]="member.profilePicture.url + '' + member.id + '.jpg'" class="avatar"
                                    alt="Avatar" />
                                {{ member.firstName }} {{ member.lastName }}
                            </a>
                        </td>
                        <td>{{ member.startedOn | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.age }}</td>
                        <td class="text-start">
                            @if(member.isCoach){
                            <i class="material-icons text-success" title="Coach">check</i>
                            }
                        </td>
                        <td>
                            <span class="status"
                                [ngClass]="{ 'text-success': member.isActive, 'text-danger': !member.isActive }">
                                &bull;
                            </span>
                            {{ member.isActive ? 'Active' : 'Inactive' }}
                        </td>
                        <td>
                            <span class="me-1">
                                {{ member.currentBelt? member.currentBelt.name : 'N/A' }}
                            </span>
                        </td>
                        <td>
                            <a href="#" class="settings" title="Edit" data-toggle="tooltip">
                                <i class="material-icons">&#xE8B8;</i>
                            </a>
                            <a href="#" class="delete" title="Delete" data-toggle="tooltip">
                                <i class="material-icons">&#xE5C9;</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix">
                <div class="hint-text">
                    Showing <b>{{ filteredMembers.length }}</b> of <b>{{ members.length }}</b> entries
                </div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>