<mat-toolbar color="primary" class="fixed-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/club-details" style="cursor: pointer;">TCM</span>
    <span class="spacer"></span>
    @if(members.length>0){
    <mat-form-field appearance="fill" class="w-50 mt-4 mb-1">
        <input type="text" [formControl]="memberCtrl" matInput placeholder="Внеси име и презиме" class="searchInput"
            [matAutocomplete]="auto" />

        <mat-autocomplete [displayWith]="displayMember" #auto="matAutocomplete"
            (optionSelected)="onSelect($event.option.value)">
            <mat-option *ngFor="let member of filteredMembers()" [value]="member" class="mb-2">
                <img [src]="member.profilePicture" style="width: 50px; height: 50px; border-radius: 50%;"
                    alt="{{ member.name }}" class="profile-img" />
                {{ member.name }} <span class="text-muted"></span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    }

    <span class="spacer"></span>

    <button (click)="logout()" mat-icon-button aria-label="Logout">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="false" class="example-sidenav">
        <!-- Profile Section -->
        @if(loggedMember()){

        <div class="profile-container" (click)="closeSidenav()"
            [routerLink]="[`members/${loggedMember()?.id}/attendance-performance`]">
            <div class="profile-img-container">
                <!-- <img src="https://sportsmatik.com/uploads/users-media/profile-pic/img-20200729-221005-185_1634550787.jpg"
                         alt="Profile" class="profile-img"> -->
                @if (loggedMember()?.profilePicture!=null ||accountService.currentUser()?.profilePicture
                =='') {

                <img [src]="loggedMember()?.profilePicture" alt="Profile" class="profile-img">

                }
                @else{
                <img class="profile-img" src="assets/images/profilePlaceholder.jpg" alt="Placeholder">
                }
            </div>
            <div class="profile-details">
                <h3 class="profile-name">{{loggedMember()?.firstName}}
                    {{loggedMember()?.lastName}}</h3>
            </div>
        </div>
        }

        <!-- Navigation List -->
        <mat-nav-list>
            <a [routerLink]="['club-details']" routerLinkActive="active-link" mat-list-item
                class="d-flex mb-1 text-center" (click)="closeSidenav()">
                <mat-icon class="nav-icon">house</mat-icon>
                <span class="nav-text">Дома</span>
            </a>
            <a [routerLink]="['members']" routerLinkActive="active-link" mat-list-item class="d-flex mb-1 text-center"
                (click)="closeSidenav()">
                <mat-icon class="nav-icon">group</mat-icon>
                <span class="nav-text">Членови</span>
            </a>
            <a [routerLink]="['trainings']" routerLinkActive="active-link" mat-list-item class="d-flex mb-1 text-center"
                (click)="closeSidenav()">
                <mat-icon class="nav-icon">fitness_center</mat-icon>
                <span class="nav-text">Тренинзи</span>
            </a>
            <a [routerLink]="['payments']" routerLinkActive="active-link" mat-list-item class="d-flex mb-1 text-center"
                (click)="closeSidenav()">
                <mat-icon class="nav-icon">payment</mat-icon>
                <span class="nav-text">Членарини</span>
            </a>
            <a [routerLink]="['notes']" routerLinkActive="active-link" mat-list-item class="d-flex mb-1 text-center"
                (click)="closeSidenav()">
                <mat-icon class="nav-icon">note</mat-icon>
                <span class="nav-text">Белешки</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content">
            <!-- <h1>Welcome to the Taekwondo Club!</h1>
            <p>Here you can find everything about our club, including events, training schedules, and more.</p>
            <ul>
                @for (member of members; track member.id) {
                <li>{{member.id}} - {{member.firstName}} {{member.lastName}}</li>
                }
            </ul> -->
            <router-outlet>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>