<mat-card class="app-info-card pb-1">

    <mat-card-content>
        <div class="countdown-display">
            <div class="time-unit">
                <span class="value">{{ days }}</span>
                <span class="label">ден/а</span>
            </div>
            <div class="time-unit">
                <span class="value">{{ hours }}</span>
                <span class="label">сат/и</span>
            </div>
            <div class="time-unit">
                <span class="value">{{ minutes }}</span>
                <span class="label">минута/и</span>
            </div>

        </div>
    </mat-card-content>
</mat-card>