<div class="success-page">
    <mat-card class="success-card">
        <div class="checkmark-wrapper">
            <svg class="checkmark" viewBox="0 0 52 52">
                <circle class="checkmark-circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark-check" fill="none" d="M14 27 l10 10 l20 -20" />
            </svg>
        </div>



        <h2 class="title text-success">Успрешна трансакција!</h2>
        <p class="message">
            Успешно плативте чланарина за овој месец!
        </p>

        <div class="actions">
            @if(roles.includes('Coach')){
            <button mat-raised-button color="primary" routerLink="/club-details">
                Врати се на почетна
            </button>
            }
            @else
            {
            <button mat-raised-button color="primary"
                [routerLink]="['/members', currentUser?.id,'attendance-performance']">
                Врати се на почетна
            </button>
            }


        </div>
    </mat-card>
</div>