<div class="register-form-wrapper">
    <h3 class="mb-5 section-text">Промени податоци за член</h3>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-4 d-flex justify-content-center pb-5">
                <input #fileInput type="file" accept="image/*"  (change)="onFileSelected($event)" hidden />

                <!-- Trigger file input with Material icon button -->
                <button type="button" style="background-color: rgb(219, 220, 220)" mat-icon-button color="success"
                    (click)="fileInput.click()" aria-label="Upload image">
                    <mat-icon>add_a_photo</mat-icon>
                </button>

                <!-- Preview if available -->
                <div *ngIf="imagePreview" class="d-flex align-items-center gap-2 mt-2">
                    <img [src]="imagePreview" style="max-width: 100px;" alt="Image Preview" class="image-preview" />
                    <button mat-icon-button color="warn" (click)="removeImage()" aria-label="Remove image">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

            </div>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Име</mat-label>
                <input matInput formControlName="firstName" [value]="selectedMember()?.firstName" maxlength="50"
                    required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Презиме</mat-label>
                <input matInput formControlName="lastName" [value]="selectedMember()?.lastName" maxlength="50"
                    required />
            </mat-form-field>
        </div>


        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Висина</mat-label>
                <input matInput type="number" [value]="selectedMember()?.height" min="0" max="250"
                    formControlName="height" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Тежина</mat-label>
                <input matInput [value]="selectedMember()?.weight" type="text" formControlName="weight" required />
            </mat-form-field>


        </div>


        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Датум на раѓање</mat-label>
                <input matInput [matDatepicker]="picker" [value]="selectedMember()?.dateOfBirth"
                    formControlName="dateOfBirth" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>



            </mat-form-field>

            <mat-form-field>
                <mat-label>Улога</mat-label>
                <mat-select formControlName="role" multiple (selectionChange)="OnRoleSelect($event)" [value]="selectedMember()?.memberRoles"
                    [compareWith]="compareRoles">

                    <mat-option *ngFor="let role of roles()" [value]="role">{{role.name}}</mat-option>



                </mat-select>
            </mat-form-field>

            <div class="w-100 d-flex justify-content-end">
                <button mat-raised-button color="primary" (click)="onSubmit()" class="submit-btn" type="button"
                >
                    Промени податоци
                </button>

            </div>


            <!-- <div class="upload-field"> 
                <label>Profile Picture</label>
                <div class="file-upload">
                    <button mat-raised-button color="accent" (click)="fileInput.click()">
                        Choose File
                    </button>
                    <input type="file" #fileInput hidden (change)="onFileSelected($event)" />

                    <div class="file-info" *ngIf="selectedFile">
                        <mat-icon class="primary-icon" color="primary">check_circle</mat-icon>
                        <span>{{ selectedFile.name }}</span>
                    </div>

                    <div class="file-info no-file" *ngIf="!selectedFile">
                        <mat-icon color="warn">info</mat-icon>
                        <span>No file chosen</span>
                    </div>
                </div>
            </div> -->

        </div>


    </form>
</div>