/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: 'Roboto', sans-serif;  /* For body text */
    font-family: 'Roboto Condensed', sans-serif; /* For headings or navigation */
    /* background-color: beige; */
    
 }

 .profile-container {
    display: flex;
    flex-direction: column; /* This makes the image and name stack vertically */
    align-items: center; /* Center the image and name horizontally */
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-img-container {
    margin-bottom: 15px; /* Adds space between the image and name */
  }
  
  .profile-img {
    width: 200px; /* Slightly larger image */
    height: 200px;
    border-radius: 50%; /* Make the image circular */
    object-fit: cover;
  }

  .app-info-card{
    background-color: white !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5)!important;
    border-radius: 0.75rem !important;
  }

.chart-legend .legend-label {
padding: 3px;
color:black!important
}

.app-info-title{
  
   background: #299be4; /* Blue header background */
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5)!important;
    border-radius: 0.75rem !important;
    padding:10px!important
}

.horizontal-legend{
  overflow: auto!important;
}