<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 full-size-calendar py-4">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-5 col-md-5 col-sm-5 justify-content-center d-flex">
                <h3 class="training-text">{{training()?.description}}</h3>
            </div>

        </div>
        <hr style="color:gray" class="mx-5">
        <div class="row mt-5">

            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">

                <span>
                    <mat-icon>event</mat-icon>

                    <strong>
                        {{training()?.date |date}}
                    </strong>
                </span>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <span>
                    <mat-icon>sports_mma</mat-icon>
                    <strong>
                        {{training()?.trainingType}}
                    </strong>
                </span>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                <span *ngIf="training()?.status">
                    <span>
                        <mat-icon *ngIf="training()?.status == 'Завршен'">check_circle</mat-icon>
                        <mat-icon *ngIf="training()?.status == 'Активен'">schedule</mat-icon>
                        <mat-icon *ngIf="training()?.status == 'Откажан'">cancel</mat-icon>
                        <strong>
                            {{training()?.status}}
                        </strong>
                    </span>

                </span>

            </div>
        </div>

    </div>
    <!-- <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="d-flex w-100 justify-content-end">
                <button class="btn btn-primary me-4">
                    <mat-icon class="text-white">edit</mat-icon>
                    Измени тренинг
                </button>
                <button class="btn btn-danger">
                    <mat-icon class="text-white">delete</mat-icon>
                    Избриши тренинг
                </button>
            </div>
        </div>
    </div> -->
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="app-card-style h-100" style="width: 100%;">

            <h5 class="mt-3">Поканети/Присутни членови:</h5>
            <div class="row" style="max-height: 500px; overflow-x: auto;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-end">
                        @if(!inEditMode()){
                        <button class="btn btn-primary" (click)="inEditMode.set(true)">
                            <mat-icon class="text-white">edit</mat-icon>
                            Измени
                        </button>

                        }@else {
                        <div class="d-flex">
                            <button class="btn btn-success" (click)="updateMembersAttendanceStatusAndPerformance()">
                                <mat-icon class="text-white">save</mat-icon>
                                Зачувај
                            </button>
                            <button class="btn ms-2 btn-danger" (click)="inEditMode.set(false)">
                                <mat-icon class="text-white">cancel</mat-icon>
                                Откажи
                            </button>

                        </div>

                        }
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <mat-form-field appearance="outline" class="w-100 my-2">
                        <mat-label>Пребарај по име и презиме</mat-label>
                        <input matInput placeholder="Внеси име и презиме" [(ngModel)]="searchTermCalendar" />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    @for ( memberTraining of getFilteredMembers(); track $index) {
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <mat-accordion (click)="onMemberSelect(memberTraining)" routerLinkActive="router-link-active">

                            <mat-expansion-panel #panel [disabled]="!inEditMode()" class="mt-3 mb-2">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="h-100 w-100">
                                        @if (memberTraining.member.profilePicture) {
                                        <img [src]="memberTraining.member.profilePicture.url" class="accordion-img">

                                        }@else {
                                        <img src="assets/images/profilePlaceholder.jpg" class="accordion-img">
                                        }

                                        {{memberTraining.member.firstName}}
                                        {{memberTraining.member.lastName}}



                                    </mat-panel-title>
                                    <div class="w-50 justify-content-end align-items-center me-5 d-flex">


                                        <div class="me-5">
                                            @switch (memberTraining.status) {
                                            @case (AttendanceStatus.Pending) {
                                            <mat-icon class="text-warning">circle</mat-icon>

                                            }
                                            @case(AttendanceStatus.Attended){
                                            <mat-icon class="text-success">circle</mat-icon>
                                            }
                                            @case (AttendanceStatus.Declined) {
                                            <mat-icon class="text-danger">circle</mat-icon>
                                            }
                                            @default {
                                            <mat-icon class="text-warning">circle</mat-icon>
                                            }
                                            }
                                            <span>{{attendaceNames[memberTraining.status]}}</span>
                                        </div>
                                        <div class="">
                                            <mat-icon>timeline</mat-icon>
                                            <span>{{memberTraining.performace}}%</span>
                                        </div>

                                    </div>
                                </mat-expansion-panel-header>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-form-field appearance="outline" class=" w-100 mt-4">
                                            <mat-label>Статус</mat-label>
                                            <mat-select [(value)]="memberTraining.status">

                                                <mat-option
                                                    [value]="AttendanceStatus.Pending">{{attendaceNames[AttendanceStatus.Pending]}}</mat-option>
                                                <mat-option
                                                    [value]="AttendanceStatus.Attended">{{attendaceNames[AttendanceStatus.Attended]}}</mat-option>
                                                <mat-option
                                                    [value]="AttendanceStatus.Declined">{{attendaceNames[AttendanceStatus.Declined]}}</mat-option>

                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <mat-form-field appearance="outline" class=" w-100 mt-4">
                                            <mat-label>Перформанси (0-100)</mat-label>
                                            <input matInput type="number" [(ngModel)]="memberTraining.performace" min=0
                                                max=100 />
                                        </mat-form-field>
                                    </div>
                                </div>







                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="app-card-style h-100" style="width: 100%;">
            <h5 class="mt-3">Белешки за членот:</h5>
            <div class="d-flex justify-content-lg-end justify-content-sm-center">
                <button class="btn btn-primary" [disabled]="selectedMemberId()==0"
                    (click)="addNoteForMemberAttendance()">
                    <mat-icon class="text-white">add</mat-icon>
                    Додади белешка
                </button>

            </div>
            <div class="row" style="max-height: 500px; overflow-x: auto;">

                <mat-form-field appearance="outline" class="w-100 my-2">
                    <mat-label>Пребарај по наслов</mat-label>
                    <input matInput placeholder="Внеси име и презиме" [disabled]="selectedMemberId()==0"
                        [(ngModel)]="searchTermNotes" />
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                @for (note of getFilteredNotes(); track note.id) {
                <div class="col-lg-12 col-md-12 col-sm-12 px-5">
                    <app-note [note]="note" (deleteClicked)="deleteNoteForMemberAttendance(note.id)"></app-note>
                </div>
                }

            </div>

        </div>
    </div>
</div>