<div class="row justify-content-center1 mt-2">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-12 mt-5 mb-5 ">
            @if(nextPaymentDate > today){
            <div class="d-flex justify-content-center align-items-center alert alert-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" stroke="currentColor"
                    stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-check-circle flex-shrink-0 me-3" role="img" aria-label="Success:">
                    <circle cx="24" cy="24" r="20"></circle>
                    <path d="M16 24l6 6 12-12"></path>
                </svg>
                <h5>
                    Следната членарина треба да се плати до:
                    {{ nextPaymentDate ? (nextPaymentDate | date: 'dd.MM.yyyy') : 'Нема податоци' }}
                </h5>
            </div>

            }@else {
            <div class="alert alert-danger justify-content-center d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" stroke="currentColor"
                    stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x-circle flex-shrink-0 me-3" role="img" aria-label="Error:">
                    <circle cx="24" cy="24" r="20"></circle>
                    <line x1="16" y1="16" x2="32" y2="32"></line>
                    <line x1="32" y1="16" x2="16" y2="32"></line>
                </svg>
                <h5>
                    Последната членарина беше со рок до:
                    {{ nextPaymentDate ? (nextPaymentDate | date: 'dd.MM.yyyy') : 'Нема податоци' }}. Доцните со
                    плаќање на членарина.
                </h5>
            </div>

            }





        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex justify-content-center1">

            <div class="table-responsive w-100">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>Платени членарини</h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>Датум</th>
                                <th>Начин на плaќање</th>
                                <th>Рок на плаќање</th>
                                <th>Акции</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let payment of dataSourceForPayment; let i = index">

                                <td>
                                    {{ payment.paymentDate | date: 'dd.MM.yyyy' }}
                                </td>
                                <td>{{ payment.isPaidOnline ? 'Онлајн' : 'Готовина' }}</td>
                                <td>{{ payment.nextPaymentDate | date: 'dd.MM.yyyy' }}</td>
                                <td>
                                    <a (click)="deletePayment(payment.id)" class="delete" title="Delete"
                                        data-toggle="tooltip">
                                        <i class="material-icons">&#xE5C9;</i>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngIf="dataSourceForPayment && dataSourceForPayment.length === 0">
                                <td colspan="7" class="text-center">Нема податоци за платени
                                    членарини
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <mat-paginator class="table-paginator" [length]="totalPayments" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>


</div>