<div class="reset-password-container">

    <mat-card class="reset-password-card">
        <h2 class="reset-password-title">Ресетирај лозинка</h2>

        <form #resetPasswordForm="ngForm" novalidate>

            <!-- Email Field -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Лозинка</mat-label>
                <input matInput type="password" name="password" required [(ngModel)]="model.password"
                    #password="ngModel" />
                <mat-error *ngIf="password.invalid && password.touched">
                    <span *ngIf="password.errors?.['required']">Лозинката е задолжителна.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Потврди лозинка</mat-label>
                <input matInput type="password" name="confirmPassword" required [(ngModel)]="model.confirmPassword"
                    #confirmPassword="ngModel" />
                <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">
                    <span *ngIf="confirmPassword.errors?.['required']">Потврдата на лозинката е задолжителна.</span>
                    <span *ngIf="confirmPassword.errors?.['mismatch']">Лозинките не се совпаѓаат.</span>
                </mat-error>

                <!-- Submit Button -->
            </mat-form-field>

        </form>
        <button class="btn btn-primary" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">Ресетирај
            лозинка</button>
    </mat-card>
</div>